* {
    margin: 0px;
    padding: 0px;
}

p {
    border:1px solid black;
}

p:first-child {
    float: left;
    color: blue;
}

p:nth-child(2) {
    /* float: left; */
    border:1px dashed red;
    color: red;
}

p:nth-child(3) {
    float: left;
    color: purple;
}